{{ template "header.html" .}}

<h1 class="title">Cash to {{ fmtDate .d }}</h1>

<p style="margin-bottom: 24px; font-weight: bold">
  Balance: {{ fmtAmount .balance }}
  <a href="/edit_cash/0" class="button is-primary is-small" style="float: right">Add transaction</a></p>

{{ $bal := 0.0 }}
<table class="table table-striped" style="width: 100%">
  <tr style="border: 1px solid #ccc">
    <th>Date</th>
    <th>Type</th>
    <th align="right">Deposit</th>
    <th align="right">Withdraw</th>
    <th align="right">Balance</th>
    <th align="right">Comments</th>
  </tr>
  {{ range .transactions }}
    {{ $bal = (add $bal .Amount) }}
    <tr style="border: 1px solid #ccc">
      <td>
        {{ if (eq .Type "Dividends") }}
          <a href="/edit_dividend/{{ .Id }}">{{ fmtDate .Date }}</a></td>
        {{ else if (or (eq .Type "Buy") (eq .Type "Sell")) }}
          <a href="/edit_transaction/{{ .Id }}">{{ fmtDate .Date }}</a></td>
        {{ else }}
          <a href="/cash/{{ .Id }}">{{ fmtDate .Date }}</a>
        {{ end }}
      </td>
      <td>{{ .Type }}</td>
      <td align="right">{{ if (gt .Amount 0.0) }}{{ fmtAmount .Amount }}{{ end }}</td>
      <td align="right">{{ if (lt .Amount 0.0) }}{{ fmtAmount (mul .Amount -1) }}{{ end }}</td>
      <td align="right">{{ fmtAmount $bal }}</td>
      <td align="right">{{ .Comments }}</td>
    </tr>
  {{ end }}
</table>

{{ template "footer.html" .}}
