{{ template "header.html" . }}

<h1 class="title">
{{ if (eq .s.Id 0) }}Create{{ else }}Edit{{ end }}
 Cash Transaction</h1>

<form action="/update_cash" method="post">

  <input type="hidden" name="id" value="{{.c.Id}}" />

  <p><span class="label">Date:</span> 
    <input type="text" name="date" style="width: 10%;" value="{{ fmtDate .c.Date }}" /></p>
  
  {{ $t := .c.Type }}
  {{ if (eq $t "")}}
    {{ $t = "Deposit"}}
  {{ end }}
  
  <p><span class="label">Type:</span> 
    {{ range .types }}
      <input type="radio" name="type" value="{{.}}" {{ if (eq . $t) }}checked="true"{{ end }} /> {{.}}
    {{ end }}
    </p>

 <p><span class="label">Amount:</span> 
    <input type="text" name="amount" style="width: 10%;" value="{{.c.Amount}}" /></p>
    
 <p><span class="label">Comments:</span><br/>
    <textarea name="comments" style="width: 100%; height: 100px">{{.c.Comments}}</textarea></p>

  <p><input type="submit" value="Save" class="button is-small is-primary" /></p>

</form>

{{ template "footer.html" . }}
