{{ template "header.html" . }}

<h1 class="title">
{{ if (eq .t.Id 0) }}Create{{ else }}Edit{{ end }}
 Transaction</h1>

<form action="/update_transaction" method="post">

  <input type="hidden" name="tid" value="{{.t.Id}}" />
  <input type="hidden" name="sid" value="{{.s.Id}}" />

  <p><span class="label">Date:</span> 
    <input type="text" name="date" style="width: 10%;" value="{{ fmtDate .t.Date }}" /></p>

  <p><span class="label">Units:</span> 
    <input type="text" name="q" style="width: 10%;" value="{{ .t.Q }}" />
    (negative to sell)</p>

  <p><span class="label">Total amount:</span>
    <input type="text" name="amount" style="width: 10%;" value="{{.t.Amount}}" />
    (including fees)</p>
    
  <p><span class="label">Commission:</span>
    <input type="text" name="fees" style="width: 10%;" value="{{.t.Fees}}" />
     including other fees</p>

  <p><input type="submit" value="Save" class="button is-small is-primary" /></p>

</form>

{{ template "footer.html" . }}
