{{ template "header.html" .}}

<h1 class="title">Portfolio on {{ .d.Format "2006-01-02" }}</h1>

{{ $totStocks := 0.0 }}
<table class="table table-striped">
  <tr style="border: 1px solid #ccc">
    <th>Asset</th>
    <th align="right">Units</th>
    <th align="right">Avg Cost</th>
    <th align="right">Value</th>
    <th align="right">Return</th>
  </tr>
  {{ range .holdings }}
    <tr style="border: 1px solid #ccc">
      <td><a href="/stock/{{ .Stock.Id }}">{{ .Stock.Code }}</a> ({{ .Stock.Name }})</td>
      <td align="right">{{ .Units | printf "%.2f" }}</td>
      <td align="right">{{ .Cost  | printf "%.2f" }}</td>
      <td align="right">{{ .Value | printf "%.2f" }}</td>
      <td align="right">{{ .Return| printf "%.1f%%" }}</td>
    </tr>
    {{ $totStocks = (add $totStocks .Value) }}
  {{ end }}
    <tr style="border: 1px solid #ccc; font-weight: bold">
      <td colspan="3">Total stocks</td>
      <td align="right">{{ $totStocks | printf "%.2f" }}</td>
    </tr>
    <tr style="border: 1px solid #ccc; font-weight: bold">
      <td colspan="3">Cash</td>
      <td align="right">{{ .cash | printf "%.2f" }}</td>
    </tr>
    <tr style="border: 1px solid #ccc; font-weight: bold">
      <td colspan="3">Total portfolio value</td>
      <td align="right">{{ (add .cash $totStocks) | printf "%.2f" }}</td>
    </tr>
</table>

  
{{ template "footer.html" .}}
