{{ template "header.html" .}}

<h1 class="title">Stocks</h1>

<table class="table table-striped">
  <tr style="border: 1px solid #ccc">
    <th>Code</th>
    <th>Name</th>
    <th>Currency</th>
  </tr>
  {{ range .stocks }}
    <tr style="border: 1px solid #ccc">
      <td><a href="/stock/{{ .Id }}">{{ .Code }}</a></td>
      <td>{{ .Name }}</td>
      <td>{{ .Currency }}</td>
    </tr>
  {{ end }}
</table>

<p><a href="/edit_stock/0" class="button is-primary is-small">Add stock</a></p>
  
{{ template "footer.html" .}}
